# MongoDBConfiguration
MONGO_URI=mongodb+srv://joash_soans:Deepak%4099@cluster0.mzx7pxm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Server Configuration  
PORT=8000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=56789
REFRESH_SECRET=your-refresh-token-secret-min-32-characters-long

# Google OAuth
GOOGLE_CLIENT_ID=861081787548-27phate6hi5kaioegn8cftaatgsihjrq.apps.googleusercontent.com

# CORS Configuration (comma-separated URLs)
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:5001
